<header class="page-header">
	<%= link_to 'New Post', new_post_path, class: 'pull-right' %>
	<h2>
		Portfolio
	</h2>
</header>

<p id="notice"><%= notice %></p>

<div class="row">
	<div class="col-sm-7 col-md-8">

		<p class="lead">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</p>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</p>

	</div>
	<div class="col-sm-5 col-md-4">
		<div class="table-responsive">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Job Name</th>
						<th colspan="2"></th>
					</tr>
				</thead>

				<tbody>
					<% @posts.each do |post| %>
					<tr>
						<td><%= link_to post.name, post %></td>
						<td><%= link_to 'Edit', edit_post_path(post) %></td>
						<td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>
